<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - TRYST'24</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/events.css'%}">
  <link rel="stylesheet" href="{% static 'css/styl.css' %}">
  <link rel="stylesheet" href="{% static 'css/media.css'%}">
  <link rel="stylesheet" href="{% static 'css/homemedia.css'%}">
  <link rel="stylesheet" href="{% static 'css/animation.css'%}">
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Satisfy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>

<body class="bg">
  <div class="conContainer" id="container">
    <header>
      <nav class="df navBar">
        <img class="logo" src="{% static 'images/trystlogo.png' %}">
        <div id="menu" class="menu">
          <img src="{% static 'images/menu.png' %}" onclick="menuOpen()" alt="">
        </div>
        <ul id="navbar" class="navlist">
          <div class="navbaritem" id="navbaritem">
            <img src="{% static 'images/cut.png' %}" id="cut" alt="" onclick="exitOut()">
            <li id="li"><a class="navlinks" href="{% url 'home' %}">Home</a></li>
            <li><a class="navlinks" id="navlinks" href="{% url 'events' %}">Events</a></li>
            <li><a class="navlinks" href="{% url 'contact' %}">Contact</a></li>
            <li><a class="navlinks" href="{%url 'registration' %}">Registration</a></li>
          </div>
        </ul>
      </nav>
    </header>
    <main onclick="moveout()" onscroll="moveout()">
      <div class="df main">
        <div class="df mainhead">
          <h1 class="headline"><span class="headline" style="--i:1">T</span><span class="headline"
              style="--i:2">R</span><span class="headline" style="--i:3">Y</span><span class="headline"
              style="--i:4">S</span><span class="headline" style="--i:5">T</span></h1>
          <h3 class="tagline" style="--i:6">9 - 10 April 2024</h3>
        </div>
        <button class="mainbtn" style="--i:7"><a href="#">Explore</a></button>
      </div>
      <div class="df trystinfo">
        <div class="leftside leftside1">
          <h1 id="lefttryst" class="lefttryst">WHAT'S IN <span class="tryst">TRYST'24</span></h1>
          <div class="df quo">
            <span class="quotes q1">“</span>
            <p id="tryst_content">
              Every year, the Students Union conducts the much awaited annual cultural fest, ‘TRYST’. The students
              eagerly look forward to their annual cultural festival that symbolizes a splendid fair like event with
              lots
              of
              stalls, fun and frolic. Students from many colleges participate in various competitions. The entire
              college
              wears a festive look as students participate in fun filled activities including games, competitions, food
              stalls and shopping. The students are instrumental in arranging good sponsorships for the events. Eminent
              artists, performers and choreographers are involved as they train promising and interested students in
              choreography, dances and dramatization. All the cultural societies in the college be it Anhad, Naksh,
              Advaita, Vagmita, Maniera and Shades participate in the festival with full rigour and enthusiasm.
              TRYST
              is
              indeed a much-awaited event by the students and is marked by a variety of inter-college events such as
              choreography, debates, music, dance competitions, street play and one-act play, fashion-shows, face art,
              rangoli making and many more exciting events. The events in TRYST are judged by eminent personalities from
              the
              fields of art, music, dance, theatre and media. Attractive prizes are given to the winners.
            </p>
            <span class="quotes q2">”</span>
          </div>
        </div>
        <div class="rightside">
          <iframe src="https://www.youtube.com/embed/-yHeiwMQQh0" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <h1 id="righttryst" class="leftside lefttryst">WHAT'S IN <span class="tryst">TRYST'24</span></h1>
      </div>
      <div class="df sponsors">
        <h1 class="sponsor-heading">SPONSORS</h1>
        <img class="underfancy underfancy1" src="{% static 'images/fancyunderline.png' %}" alt="">
        <div class="df rowimg">
          <div class="df rowoneimg">
            <img src="{% static 'images/cokelogo.png' %}" alt="" class="sponsorImg" style="--i:1">
            <img src="{% static 'images/cokelogo.png' %}" alt="" class="sponsorImg" style="--i:2">
            <img src="{% static 'images/cokelogo.png' %}" alt="" class="sponsorImg" style="--i:3">
          </div>
          <div class="df rowtwoimg">
            <img src="{% static 'images/cokelogo.png' %}" alt="" class="sponsorImg" style="--i:4">
            <img src="{% static 'images/cokelogo.png' %}" alt="" class="sponsorImg" style="--i:5">
          </div>
        </div>
      </div>
      <div class="past-artists">
        <div class="df artist-heading">
          <h1 class="artist-heading">PREVIOUS ARTISTS</h1>
          <img class="underfancy artist" src="{% static 'images/fancyunderline.png' %}" alt="">
        </div>
        <div class="df artistimg">
          <div class="artistdesc artistImg" style="--i:1">
            <img src="{% static 'images/bpraak.jpg' %}" alt="">
            <h1>B PRAAK</h1>
          </div>
          <div class="artistdesc artistImg" style="--i:2">
            <img src="{% static 'images/mg.png' %}" alt="">
            <h1>MILLIND GABA</h1>
          </div>
          <div class="artistdesc artistImg" style="--i:3">
            <img src="{% static 'images/ikka.png' %}" alt="">
            <h1>IKKA</h1>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="socialmedia">
        <a href="https://www.facebook.com/TRYSTKESHAV/"><img src="{% static 'images/facebook.png' %}" alt=""
            height="45px" width="45px"></a>
        <a href="https://www.instagram.com/tryst_kmv/"><img src="{% static 'images/instagram.png' %}" alt=""
            height="45px" width="45px"></a>
        <a href="https://x.com/TRYST_2K24?t=Km4caiDcrcQR4TWCPzA9Jw&s=08"><img src="{% static 'images/x.png' %}" alt=""
            height="45px" width="45px"></a>
      </div>
      <h4 class="developed-by">Designed and Developed by <span class="ansh-juneja"><a href="https://www.youtube.com/channel/UC23C6Vghe1eROCsvEyM-4hQ">Ansh Juneja</a></span></h4>
      <div class="df copyright">
        <h3>
          Copyright © 2024 TRYSTKMV
        </h3>
        <p class="rights">All Rights Reserved</p>
      </div>
    </footer>
  </div>
</body>
<!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->
<script src="{%static '/js/jquery-3.7.1.min.js'%}"></script>
<script>

  // jQuery Code
  var window = $(window)
  var artistimg = $('.artistImg')
  var sponsorimg = $('.sponsorImg')
  var lefttryst = $('.lefttryst')
  var rightside = $('.rightside')
  var leftside = $('.leftside1')
  function isScroll(elem, window) {
    var docViewTop = $(window).scrollTop();
    var docViewBotton = $(window).height() + docViewTop;

    var elemTop = $(elem).offset().top;
    var elemBotton = elem.height() + elemTop;
    return ((elemTop < docViewBotton));
  }

  let screenWidth = window.screen.width
  if (screenWidth < 770) {
    lefttryst.addClass('leftSideOut')
    rightside.addClass('frameMoveOut')
  }

  $(window).on('scroll', () => {
    if (isScroll(artistimg, window)) {
      artistimg.addClass('topHead')
    }
    if (isScroll(sponsorimg, window)) {
      sponsorimg.addClass('topHead')
    }
    if (isScroll(leftside, window)) {
      leftside.addClass('leftOut')
    }
    if (isScroll(lefttryst, window)) {
      lefttryst.addClass('leftSideOut')
    }
    if (isScroll(rightside, window)) {
      rightside.addClass('frameMoveOut')
    }
  })

  $('#tryst_content').hide();
  $('#tryst_content').toggle(2000);

  let width = window.screen.width
  if (width < 770) {
    let nav = document.getElementById("navbar")
    nav.style.right = '-200px';
    nav.style.display = 'none';
    document.getElementById("menu").style.display = 'block';
    $('.quotes').hide()
  } else {
    document.getElementById("cut").style.display = 'none';
    document.getElementById("menu").style.display = 'none';
  }

  const moveout = () => {
    if (width < 770) {
      // let navbar = document.getElementById("navbar")
      // navbar.style.right = "-200px"
      // nav.style.display = 'none';
      // document.getElementById("menu").style.display = 'block';
      setTimeout(() => {
        menuOpen()
      }, 200);
      exitOut()
    }
  }

  if (width < 1025) {
    document.getElementById("lefttryst").style.display = 'none'
    document.getElementById("righttryst").style.display = 'block'
  } else {
    document.getElementById("lefttryst").style.display = 'block'
    document.getElementById("righttryst").style.display = 'none'
  }

  const exitOut = () => {
    let nav = document.getElementById("navbar")
    nav.style.right = '-200px';
    nav.style.transition = '0.5s';
    setTimeout(() => {
      nav.style.display = 'none';
      document.getElementById("menu").style.display = 'block';
    }, 200);
  }

  const menuOpen = () => {
    let menu = document.getElementById("menu")
    menu.style.display = 'none'
    let nav = document.getElementById("navbar")
    nav.style.display = 'block';
    nav.style.right = '0px';
    nav.style.transition = '0.2s';
  }
</script>

</html>