<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {%load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="bg-dark">
    <main class="d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="d-flex  justify-content-center">
                <div class="form d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center flex-column align-items-end reg">
                        <div id="alert" className="alert alert-danger alert-dismissible fade show alt" role="alert">
                            <!-- <strong>Error : </strong> -->
                            <p id="txt"></p>
                        </div>
                        <h1><Span class="badge bg-secondary">Registration Form</Span></h1>
                    </div>
                    <!-- <form onsubmit="dataSubmit()"> -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token%}
                        <div class="mb-3">
                            <label for="name" class="form-label">Enter Name</label>
                            <input type="text" class="form-control" onkeyup="checkName()" id="name" name="name" required
                                aria-describedby="emailHelp" placeholde="alphabets only">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Enter Phone</label>
                            <input type="tel" class="form-control" onkeyup="checkPhone()" id="phone"
                                name="phone" required aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="collegeNme" class="form-label">Enter College Name</label>
                            <input type="text" class="form-control" id="collegeNme" name="collegeName" required
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Enter Email address</label>
                            <input type="email" class="form-control" placeholder="example@gmail.com"
                                onkeyup="checkEmail()" id="email" name="email" required aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Upload Your College ID Card</label>
                            <input type="file" class="form-control" id="image" name="image" required>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button disabled id="btn" type="submit" class="btn btn-primary mx-3">Submit</button>
                            <a class="btn btn-primary mx-3" href="{%url 'home'%}" role="button">&larr; Home</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
<script>
    document.getElementById("alert").style.display = 'none';
    let alert = document.getElementById("alert").style
    let btn = document.getElementById("btn")
    let error = document.getElementById("txt")

    const checkName = () => {
        let name = document.getElementById("name").value
        let num = name.match(/[A-Za-z ]/gm)
        num === null ? num = 0 : num = name.match(/[A-Za-z ]/gm).length;
        if (num === name.length) {
            alert.display = 'none'
            btn.disabled = false;
        }
        else {
            alert.display = 'block'
            alert.color = 'red'
            error.innerText = 'Only Alphabets are allowed'
            btn.disabled = true;
        }
    }

    const checkEmail = () => {
        let email = document.getElementById("email").value
        if (email.match(/@gmail.com/gm) === null) {
            alert.display = 'block'
            alert.color = 'red'
            error.innerText = "Only 'gmail.com' email adress are allowed"
            btn.disabled = true;
        }
        else {
            alert.display = 'none'
            btn.disabled = false;
        }
    }
    const checkPhone = () => {
        let phone = document.getElementById("phone").value
        if (phone.match(/\d/gm) === null) {
            if (phone !== '') {
                alert.display = 'block'
                alert.color = 'red'
                error.innerText = 'Only Phone Number are allowed'
                btn.disabled = true;
            }
        }
        else if (phone.match(/\d/gm).length !== phone.length) {
            console.log(phone.match(/\d/gm).length)
            alert.display = 'block'
            alert.color = 'red'
            error.innerText = 'Only Phone Number are allowed'
            btn.disabled = true;
        }
        else if (phone.length !== 10) {
            alert.display = 'block'
            alert.color = 'red'
            error.innerText = 'Phone is 10 digits required'
            btn.disabled = true;
        }
        else {
            alert.display = 'none'
            btn.disabled = false;
        }
    }

    function sendMail() {
        const email = document.getElementById("usremail");
        Email.send({
            SecureToken: "a966b3a6-7ce4-4872-bc3e-367160a20fa1",
            To: document.getElementById("email").value,
            From: "tryst24kmv@gmail.com",
            Subject: "Confirmation Mail",
            Body: "<b> Thanks for contacting us, your query will be resolved within 24 hours </b>",
        })
    }

</script>

</html>